.box-one{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20rem;
}

.box-two{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.box-three{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 20px;
}